---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import QuiEsPau from '../components/QuiEsPau.astro';
import Serveis from '../components/Serveis.astro';
import Paucients from '../components/Paucients.astro';
import HorariContacte from '../components/HorariContacte.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
import Chatbot from '../components/Chatbot.astro';
import '../styles/global.css';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <QuiEsPau />
    <Serveis />
    <Paucients />
    <HorariContacte />
    <FAQ />
  </main>
  <Footer />
  <Chatbot />
</Layout>
